@model MvcFrilance.ViewModels.EditFrilancerModel

@{
    ViewData["Title"] = "EditFrilancer";
}

<h2>Редактирование</h2>

<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="EditFrilancer">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Login" class="control-label"></label>
                <input asp-for="Login" class="form-control" />
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NickName" class="control-label"></label>
                <input asp-for="NickName" class="form-control" />
                <span asp-validation-for="NickName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Ваши сферы деятельности</label>
                <div class="list-group">
                    @foreach (var spell in ViewBag.AllSpells)
                    {
                        string isChecked = Model.Spells.Contains(spell.SpellID) ? "checked" : "";
                        <label class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" name="Spells" value="@spell.SpellID"
                            @isChecked />
                            @spell.SpellID
                        </label>
                    }
                </div>
            </div>
            <div id="mainDiv" class="form-group">
                <label class="control-label">Ваши ключевые навыки</label>
                <button type="button" class="btn btn-success" id="addButton">+</button>
                @foreach (var item in Model.Tags)
                {
                    <div class="input-group sm mb-3">
                        <input class="form-control" placeholder="Tag" list="defaultTags" name="Tags" minlength="3"
                        pattern="^[\w_-#+]+$" value="@item" />
                        <button class="btn btn-danger" type="button" id="removeButtons">-</button>
                    </div>
                }
            </div>
            <datalist id="defaultTags">
                @foreach (var item in ViewBag.DefaultTags)
                {
                    <option>@item.TagID</option>
                }
            </datalist>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<script>

    var addButton = document.querySelector("#addButton");
    var removeButtons = document.querySelectorAll("#removeButtons");
    var divMain = document.querySelector("#mainDiv")

    for (let i = 0; i < removeButtons.length; i++) {
        let parNode = removeButtons[i].parentNode;
        removeButtons[i].onclick = function (e) {
            divMain.removeChild(parNode);
        }
    }

    function AddTag() {
        let divController = document.createElement("div");
        divController.setAttribute("class", "input-group sm mb-3");
        let newInput = document.createElement("input");
        newInput.setAttribute("placeholder", "Tag");
        newInput.setAttribute("list", "defaultTags");
        newInput.setAttribute("name", "tags");
        newInput.setAttribute("minlength", "3");
        newInput.setAttribute("pattern", "^[\\w_-#+]+$");
        newInput.setAttribute("class", "form-control");
        let newButton = document.createElement("button");
        newButton.setAttribute("class", "btn btn-danger");
        newButton.setAttribute("type", "button");
        newButton.textContent = "-";
        newButton.onclick = function (e) {
            divMain.removeChild(divController);
        }
        divController.appendChild(newInput);
        divController.appendChild(newButton);
        divMain.appendChild(divController);
        newInput.focus();
    }

    addButton.onclick = AddTag;

</script>
